<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Products
body
  h1
  ul
    each product in products
      li Name: #{product.name}
      li Price: #{product.price}
      li Inventory #{product.inventory}
      li Id: #${pro.id}
      li
